name: Deploy DAGs to S3

on:
  push:
    branches: [ main ]

jobs:
  sync-dags:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Sync DAGs to S3 (dags/)
        run: |
          aws s3 sync ./dags s3://aditya-mwaa-dags-2025/dags --delete

      - name: Upload requirements.txt
        if: exists('requirements.txt')
        run: |
          aws s3 cp requirements.txt s3://aditya-mwaa-dags-2025/requirements.txt
